body, html {
  margin: 0;
  padding: 0;
}
pre, code {
  background-color: #505050;
}


#blue_box {
  position: relative;
  float: left;
  /* background: #0A0B0C; */
  background: url("pix/tile1.png");
  width: 100%;
  padding: 0px; 
}


#left {
  width: 15%;
  min-height: 800px;
  float: left;
  background: transparent; 
  word-wrap: break-word;
  font-size: .75em;
  line-height: 1.5em;
}
#gestologo {
  margin-left: 20px;
  margin-bottom: 15%;
  display: block;
}
#left a {
  text-decoration: none;
}
#left h2 {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.51);
  text-shadow: 1px 1px #6484D2;
  margin-left: 10%;
  padding-bottom: 5%;
}
.home-titel {
  padding-left: 5%;
  margin-top:3%;
  margin-bottom: 3%;
}


.divider {
  position: absolute;
  left: 16%;
  width: 3px;
  height: 88%;
  top: 100px;
  bottom: 2%;
  background: url("pix/bg1.png");
}
.divider_h {
  float: left;
  margin: 5% 0 0 -15px;
  width: 85%;
  height: 3px;
  background: url("pix/bg2.png");
}


#header {
  float: left;
  background: rgba(169, 193, 197, 0.09) none repeat scroll 0% 0%;
  height: 80px;
  margin: 5% 0 0 12.5%;
  width: 50%;
  text-align: center;
  border-radius: 100px; 
}
#header h1 {
  font-family: "Courier New";
  font-size: 3em;
  text-shadow: 2px -2px 4px rgba(65, 108, 156, 0.86);
  line-height: 80px;
  margin-top: -40px;
  color: rgba(193, 199, 221, 0.36);
}


#right:hover {
  box-shadow: 15px -15px 15px -10px rgba(167, 200, 237, 0.54);
  border-right: 1px solid #88D8F5;
  border-top: 1px solid #88D8F5;
}
#right {
  font-family: Avantgarde;
  min-height: 800px;
  background: rgba(44, 42, 23, 0.41) none repeat scroll 0% 0%;
  margin-top: 5%;
  margin-bottom: 2%;
  float: left;
  box-shadow: 15px -15px 15px -10px rgba(65, 108, 156, 0.36);
  border-radius: 25px;
  border-right: 1px solid #6DB2CB;
  border-top: 1px solid #6DB2CB;
  color: #E6DDCD;
  /*  padding: 5px 5%; */
  width: 60%;
  margin-left: 7.5%;
}
.blogpost {
  margin: 10% 5%;
}
.blogpost h1 {
  text-transform: uppercase;
  font-size: 1.35em;
  text-decoration: underline;
  color: rgb(121, 182, 246);
  text-shadow: 1px 1px #001444;
  text-align: justify;
  overflow: hidden;
  background: rgba(6, 8, 9, 0.11);
  border-radius: 10px;
  padding: 0 15px;
}
.blogpost h2 {
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1;
  font-size: 1.05em;
  font-weight: bold;
}
.blogpost-datum {
  color: #9CB3BA;
  font-size: 0.5em;
  display: inline-block;
  float: right;
  padding-top: 1.5em;
}
.blogpost p {
  padding: 0 20px;
}


/* Breakpoints */

@media only screen and (min-width: 1588px) {
  #header h1 {
    font-size: 3em;
    line-height: 40px;
margin-top: 20px; } }
@media only screen and (max-width: 928px) {
  #header  h1 {
    font-size: 2em;
    line-height: 40px;
margin-top: 0; } }
@media only screen and (max-width: 607px) {
  #header  h1 {
    font-size: 1.2em;
    line-height: 30px;
margin-top: 10px; } } 
